@font-face {
	font-family: LemonMocktail;
	src: url("/assets/lemon_mocktail.ttf");
}


html {
	width: 100%;
	height: 100%;
}

body {
	height: 97.8%;

	font-family: sans-serif;
	font-size: large;
	background-color: #0075C4;
	border: 10px solid #ffffff;
	margin: 0;
	padding: 0;
	position: relative;
}
.vertical-bar {
	background-color: #ffffff;
	width: 5px;
	height: 101%;
	position: absolute;
	left: 50%;
	top: -5px;
}
textarea:focus, input:focus{
    outline: none;
}

/* -- MENU -- */

.menu{
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	z-index: 100;
	display: flex;
	align-items: center;
	margin-top: 30px;
	grid-template-columns: auto auto auto auto;
	position: relative;
}

.title-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ping-pong-title {
	font-family: LemonMocktail;
	font-size: 3em;
	margin-left: -120px;
	color: #EFA00B;
}
.ping-pong-icon {
	width: 80px;
	margin-left: 60px;
	opacity: 0.1;
}

.menu-item {
	position: absolute;
	right: 0px;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.login-input {
	background-color: #00000000;
	width: 150px;
	border: 3px solid #0075C4;
	height: 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 7px 0px 0px 7px;
	transition: .3s;
}
.sign-in-btn {
	width: 100px;
	height: 36px;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	background-color: #0075C4;
	border: 0;
	color: white;
	font-weight: bolder;
	cursor: pointer;
	border-radius: 0px 7px 7px 0px;
	margin-right: 30px;
	transition: .3s;
}
.login-input:focus {
	border: 3px solid #EFA00B;
}
.login-input:focus + .sign-in-btn {
	background-color: #EFA00B;
}

/* -- JOIN CREATE ROOM -- */

#match-container {
	top: 20%;
	left: 4%;
	width: 35%;
	height: 60%;
	position: absolute;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 50px 15px rgba(255, 255, 255, 0.352);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}

/* -- OTHER -- */

#stats-container {
	top: 15%;
	right: 5%;
	width: 40%;
	height: 80%;
	position: absolute;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 50px 15px rgba(255, 255, 255, 0.352);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}
#copyRoomCode {
	font-size: 0;
    width: 0;
    opacity: 0;
	right: 5%;
	top: 25%;
	height: 13%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: absolute;
	justify-content: center;
	align-items: center;
    transition: all 0.5s ease;
}
#copyRoomCode.created {
	font-size: medium;
	width: 42%;
	opacity: 1;
}
#copyRoomCode2 {
	font-size: 0;
    width: 0;
    opacity: 0;
	left: 5%;
	top: 25%;
	height: 13%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: absolute;
	justify-content: center;
	align-items: center;
    transition: all 0.5s ease;
}
#copyRoomCode2.created {
	font-size: medium;
	width: 42%;
	opacity: 1;
}
#roomcode {
	left: 31%;
	top: 25%;
	width: 37%;
	height: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size:larger;
    transition: all 0.5s ease;
	color: #494860;
}
#roomcode.created {
	left: 5%;
	width: 45%;
}
#roomcode.created_right {
	left: 49%;
	width: 45%;
}
#createRoom.shrinked {
	font-size: 0;
    width: 0;
    opacity: 0;
}
#createRoom.shrinked2 {
	right: 70%;
	left: auto;
	font-size: 0;
    width: 0;
    opacity: 0;
}
#createRoom {
	font-size: medium;
	left: 5%;
	top: 25%;
	width: 25%;
	height: 13%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: absolute;
	border-radius: 5px;
	cursor: pointer;
    transition: all 0.5s ease;
}
#joinRoom {
	font-size: medium;
	left: 71%;
	top: 25%;
	width: 25%;
	height: 13%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	position: absolute;
	border-radius: 5px;
	cursor: pointer;
    transition: all 0.5s ease;
}
#joinRoom.shrinked {
	font-size: 0;
    width: 0;
    opacity: 0;
}
#joinRoom.shrinked2 {
	left: auto;
	right: 4%;
	font-size: 0;
    width: 0;
    opacity: 0;
}
.player_names {
	left: 7%;
	top: 45%;
	width: 90%;
	position: relative;
	font-size: large;
	color: #343348;
}
.player_wins {
	left: 70%;
	top: 45%;
	width: 20%;
	margin: 5px;
	position: relative;
	font-size: medium;
	color: #343348;
}
#start {
	left: 5%;
	bottom: 5%;
	width: 90%;
	height: auto;
	position: absolute;
	border-radius: 5px;
}
.text {
	color: #343348;
}
#stats-h1 {
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
}
#stats-h3 {
	left: 10%;
	top: 20%;
	transform: translate(-50%, 0);
	position: absolute;
}
#elo {
	left: 18%;
	top: 20%;
	transform: translate(-50%, 0);
	position: absolute;
}
#room_errors {
    font-size: 100%;
    top: 37%;
    width: 90%;
    height: auto;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    left: 50%;
	color: rgba(255, 0, 0, 0.897);
    transform: translateX(-50%);
}
#profile_pic {
	right: 3%;
	top: 50%;
	width: 64px;
	height: 64px;
	position: absolute;
	border-radius: 32px;
    text-align: center;
	object-fit: cover;
	transform: translateY(-50%);
}
#ongoing-match {
	left: 50%;
	width: 100%;
    text-align: center;
	transform: translateX(-50%);
	position: relative;
}
#user-id {
	right: 15%;
	position: absolute;
	color: #0075C4;
}
.winner-box {
	display: flex;
	align-items: center;
	justify-content: center;  
	grid-gap: 23px;
	margin-top: 20px;
	height: 100%;
}

#leave-button {
  background-color: #f82121;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  left: 5%;
  bottom: 15%;
  width: 90%;
  display: none;
}
#leave-button.show {
	display: unset;
}
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	left: 5%;
	bottom: 4%;
	width: 90%;
  }

.form-popup {
  display: none;
  position: absolute;
  left: 5%;
  bottom: 4%;
  height: 92%;
  width: 90%;
  color: white;
  border: 3px solid #f1f1f1;
  background-color: #555;
  transition: all 0.5s ease;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  height: 100%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  height: 90%;
  padding: 15px;
  left: 5%;
  margin: 5% 0 5% 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	top: 30%;
	background-color: #0075C4;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-bottom:10px;
	opacity: 0.8;
}
.form-container h1{
	left: 50%;
	width: 100%;
    text-align: center;
	transform: translateX(-50%);
	position: relative;
	top: 5%;
}
.form-container h3{
	left: 50%;
	width: 100%;
    text-align: center;
	transform: translateX(-50%);
	position: relative;
	top: 15%;
}
/* Add a red background color to the cancel button */
.form-container .player2 {
	background-color: #EFA00B;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}