<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="stylesheet.css">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<title>ft_pong</title>
</head>
<body>
	<div class="menu">
		<div class="title-box">
			<img src="assets/ping-pong.png" class="ping-pong-icon" />
			<h1 class="ping-pong-title">ft_pong</h1>
		</div>
		<div class="menu-item" id="menu-item-container">
			<h1 id="user-id">
			</h1>
		</div>
	</div>
	<div id="canva" class="canva">
		<div id="match-container" class="container">
			<h1 id="stats-h1" class="text">ROOM</h1>
			<input id="roomcode" class="room-input" type="text" placeholder="ROOM CODE">
			<button id="createRoom" class="button" onclick="createRoom()">CREATE ROOM</button>
			<button id="copyRoomCode" class="button" onclick="copyRoomCode()">COPY CODE</button>
			<button id="copyRoomCode2" class="button" onclick="copyRoomCode()">COPY CODE</button>
			<button id="joinRoom" class="button" onclick="joinRoom()">JOIN ROOM</button>
			<p id="room_errors" class="text"></p>
			<p id="player1_name" class="player_names"></p>
			<p id="player2_name" class="player_names"></p>
			<button id="leave-button" onclick="leaveRoom()">LEAVE ROOM</button>
			<button id="open-button" class="open-button" onclick="openForm()">START MATCH</button>
			<div class="form-popup" id="myForm">
			<form class="form-container">
				<h1 >ONGOING MATCH</h1>
				<h3 >WHO WON ?</h3>
				<div class="winner-box">
					<button id="player1-win" type="button" class="btn">PLAYER 1</button>
					<button id="player2-win" type="button" class="btn player2">PLAYER 2</button>
				</div>
			</form>
			</div>
		</div>
		<div id="leaderboard-container" class="container">
			<h1 id="leaderboard-h1" class="text">LEADERBOARD</h1>
			<table class="leaderboard" id="leaderboard">
				<tr class="leaderboard-row">
					<td style="font-size: larger;"></td>
					<td style="font-size: larger;">NAME</td>
					<td style="font-size: larger;">ELO</td>
				</tr>
			</table>
		</div>
		<div id="stats-container" class="container">
			<h1 id="stats-h1" class="text">STATS</h1>
			<h3 id="elo-display" class="text stats-display">ELO :</h3>
			<h3 id="games-display" class="text stats-display">GAMES PLAYED :</h3>
			<h3 id="wins-display" class="text stats-display">WINS :</h3>
			<h3 id="losses-display" class="text stats-display">LOSSES :</h3>
		</div>
		<div id="invites-container" class="container">
			<h1 id="stats-h1" class="text">INVITES</h1>
			<div class="invites-grid">
				<div class="invite">
					test1
				</div>
				<div class="invite">
					test2
				</div>
				<div class="invite">
					test3
				</div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
