<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
	<link rel="stylesheet" href="stylesheet.css">
	<title>ft_pong</title>
</head>
<body>
	<div class="menu">
		<div class="title-box">
			<img src="assets/ping-pong.png" class="ping-pong-icon" />
			<h1 class="ping-pong-title">Ping Pong</h1>
		</div>
		<div class="menu-item" id="menu-item-container">
			<input id="player1" class="login-input" type="text" placeholder="Login">
			<button id="login" class="sign-in-btn">SIGN IN</button>
			<!-- <a id="login" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-980c828f0609cae0f6762042edb5fa99953c2c0d899e807c79bca9e17c8db2bf&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2F&response_type=code">LOGIN</a> -->
		</div>
	</div>
	<div id="canva" class="canva">
		<div id="match-container">
			<h1 id="stats-h1" class="text">ROOM</h1>
			<input id="roomcode" class="room-input" type="text" placeholder="ROOM CODE">
			<button id="createRoom" class="button" onclick="createRoom()">CREATE ROOM</button>
			<button id="copyRoomCode" class="button" onclick="copyRoomCode()">COPY CODE</button>
			<button id="copyRoomCode2" class="button" onclick="copyRoomCode()">COPY CODE</button>
			<button id="joinRoom" class="button" onclick="joinRoom()">JOIN ROOM</button>
			<p id="room_errors" class="text"></p>
			<p id="player1_name" class="player_names"></p>
			<p id="player2_name" class="player_names"></p>
			<button id="open-button" class="open-button" onclick="openForm()">START MATCH</button>
			<!-- The form -->
			<div class="form-popup" id="myForm">
			<form class="form-container">
				<h1 id="ongoing-match">ONGOING MATCH</h1>
				<h3 id="ongoing-match"><b>WHO WON ?</b></label>
				<div class="winner-box">
					<button type="submit" class="btn">PLAYER 1</button>
					<button type="button" class="btn player2">PLAYER 2</button>
				</div>
			</form>
			</div>
			<!-- <button id="start" class="button" onclick="startGame()">START MATCH</button> -->
		</div>
		<div id="stats-container">
			<h1 id="stats-h1" class="text">STATS</h1>
			<h3 id="stats-h3" class="text">ELO :</h3>
			<h3 id="elo" class="text"></h3>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
